// Colors
$colors: (
  // Main Colors
        primary-color: (
                'bright-orange': hsl(31, 77%, 52%),
                'dark-cyan': hsl(184, 100%, 22%),
                'very-dark-cyan': hsl(179, 100%, 13%),
        ),
        neutral-color: (
                'transparent-white': hsla(0, 0%, 100%, 0.75),
                'very-light-grey': hsl(0, 0%, 95%),
        ),
  // Other
        'background': hsl(0, 0%, 95%),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);